body {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkgrey;
    text-decoration: none;
}

header {
    background: url(../image/landscape.png) no-repeat center top / cover;
    height: 600px;
}

.shortHeader {
    height: 90px;
    background-color: #212121;
}

.container {
    width: 58em;
    margin: 0 auto;
}

#shortPageFooterProfile {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0;
}

.logo {
    margin-top: 1.1em;
    width: 12em;
    float: left;
}

nav {
    float: right;
    margin-top: 1.7em;
}

.hello {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin-top: 9.5em;
}

.welcome {
    font-size: 3em;
    text-transform: uppercase;

}

.invite {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}

.menu {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    text-align: left;
    text-indent: 1.1em;
    text-transform: uppercase;
}



.menu li a:hover {
    color: darkgrey;
    text-decoration: none;
}

.menu li a:active {
    color: white;
    text-decoration: none;
}

.menu li {
    float: left;
    display: block;
    word-spacing: 1.5em;
}

.menu li a {
    color: #fff;
    text-decoration: none;

}

.slideLeft{
    visibility: hidden;
}

.buttonRegistr {
    background: #4eb540;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    display: block;
    width: 10em;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    margin-top: 4em;
    float: left;
    margin-left: 16em;
    cursor: pointer;
    border: 0;
}

.buttonRegistr:hover {
    background-color: #999;
}

.buttonLogin:hover {
    background-color: #999;
    color: #fff;
}

.buttonLogin {
    outline: none;
    background: #fff;
    color: #000;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    display: block;
    width: 10em;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    margin-top: 4em;
    float: right;
    margin-right: 16em;
    cursor: pointer;
    border: 0;
}

.bookList li {
    list-style-type: none;
}

.book {
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
    display: block;
}

.author {
    border-radius: 50%;
    width: 3em;
    float: left;
}

.aboutBook {
    margin-left: 1em;
    text-decoration: none;
    float: left;
}

.bookName a {
    font-size: 1em;
    color: #000;
    display: block;
    text-decoration: none;
}

.authorName a {
    font-size: 0.7em;
    color: darkgrey;
    display: block;
    text-decoration: none;
}

.formatAndCheck {
    text-decoration: none;
    font-size: 0.7em;
    float: right;
}

.check {
    display: block;
    color: #4eb540;
}

.format {
    display: block;
}

.styles {
}

.styles select {
    width: 9em;
    height: 2em;
    font-size: 1em;
    border-radius: 2px;
    width: 7em;
    padding: 6px 0;
    margin-top: 0.7em;
    margin-bottom: 1.5em;
   }

.chooseStyle {
    float: left;
}

.search {
    float: right;
}

.search a {
    text-decoration: none;
    color: #000;
}

.search input {
    border-radius: 5px;
    width: 15em;
    height: 2em;
}

.blockAbout {
    padding-top: 2.5em;
    text-align: center;
}

#howItWorks {
    font-size: 2.6em;
    text-transform: uppercase;
}

#pHow {
    padding-top: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    color: darkgray;
}

.services {
    margin-top: 3em;
    margin-bottom: 3em;
}

.servicesItem {
    width: 250px;
    float: left;
    text-align: center
}

.servicesItem h3 {
    font-size: 1.8em;
    margin-bottom: 5px;
}

.servicesItem p {
    font-size: 1em;
    color: #999;
}

.servicesItem:last-child {
    float: right;
}

.servicesItem:nth-child(2) {
    margin-left: 5.4em;
}

.registr {
    width: 350px;
    height: 420px;
    margin: 15em auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.formRegistr {
    width: 275;
    margin: -15px auto 20px auto;
    text-align: center;
}

.formRegistr p {
    font-size: 0.85em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.input {
    width: 260px;
    padding: 10px;
    margin-bottom: 10px;
}

.close {
    margin: 10px 0 0 320px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 2px;
    background: #ccc;
}

.close:hover {
    background: #fff;
}

#gray {
    background-color: rgba(1,1,1,0.75);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    z-index: 100;
}

#regButton {
    background: #4eb540;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    display: block;
    width: 15em;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    cursor: pointer;
    border: 0;
    margin-bottom: 1.5em;
}

.login {
    width: 350px;
    height: 260px;
    margin: 15em auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.formLogin {
    width: 275px;
    margin: -15px auto 20px auto;
    text-align: center;
}

.loginButton {
    background: #4eb540;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    display: block;
    width: 15em;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    cursor: pointer;
    border: 0;
    margin-bottom: 1.5em;
}

.footer {
    height: 10em;
    background-color: #212121;
}

#searchStart {
    background: #4eb540;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    width: 7em;
    padding: 6px 0;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.inputUpload {
    display: block;
    width: 35em;
    padding: 5px;
    margin-bottom: 10px;
}

#newBook {
    margin-top: 1em;
}

#upButton {
    background: #4eb540;
    color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
    border-radius: 2px;
    display: block;
    width: 15em;
    padding: 10px 0;
    text-align: center;
    margin-top: 1em;
    cursor: pointer;
    border: 0;
    margin-bottom: 3em;
}

#upButton:hover {
    background: darkgrey;
}

.verify {
    display: none;
    width: 350px;
    height: 250px;
    margin: 15em auto;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.formVerify {
    width: 275px;
    margin: -15px auto 20px auto;
    text-align: center;
}

.loading {
    margin: 15em auto;
    width: 10em;
    height: 10em;
    background-color: #FFF;
    z-index: 150;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
}

.loadingGif {
    width: 10em;
    height: 10em;
}

.success {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    margin-right: 1px;
}

.csrf {
    display: none;

}

.error {
    width: 70px;
    height: 70px;
}

.emailAlreadyRegistred {
    text-align: center;
    display: none;
    width: 350px;
    height: 230px;
    margin: 15em auto;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.success {
    width: 70px;
    height: 70px;
}

.check {
    text-align: center;
    width: 350px;
    height: 230px;
    margin: 15em auto;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.check p {
    color: #000;
    margin-bottom: 40px;
}

#successReg {
    text-align: center;
    display: none;
    width: 350px;
    height: 260px;
    margin: 15em auto;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#authorPhoto {
    margin-bottom: 1.5em;
}

.verifiedProfile {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#profileText {
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: none;
    text-align: left;
    text-indent: 1.1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.nicknameProfile {
    margin-bottom: 10px;
}

.currentPage {
    color: darkgray !important;
}

.readanywhere {
    background-color: #ececec;
    height: 600px;
}

.readanytext span {
    font-size: 2.5em;
    text-transform: uppercase;
}

.readanytext {
    padding-top: 4em;
}

.downloadios {
    width: 10em;
    height: 3em;
    margin-top: 3em;
}

.isVerified {
    color: green;
}

profileData {
    color: green;
}

.rights {
    padding-top: 3.5em;
}

.rights span {
    color: #FFF;
}

.footerImage {
    width: 3em;
    height: 3em;
    padding-left: 1em;
    float: right;
}

#shortPageFooter {
    width: 100%;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0;
}

.inHeader {
}

#toChangePassword {
    color: #205395;
    cursor: pointer;
}

.changePassword {
    width: 350px;
    height: 300px;
    margin: 15em auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    z-index: 150;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.formChangePassword {
    width: 275px;
    margin: -15px auto 20px auto;
    text-align: center;
}

.center {
  display: flex;
  align-items: center;
}

.center > span {
  margin-right: auto;
}

.open-panel, .close-panel {
    display: none;
}

nav [type="checkbox"] {
    display: none;
}

nav label.toggleMenu {
    display: none;
}

@media screen and (max-width: 1000px) {
    nav label.toggleMenu {
        background: #212121;
        color: #FFF;
        display: block;
        padding: 15px 60px;
        display: block;
        text-transform: uppercase;
        font-size: 45px;
        cursor: pointer;
        position: relative;
    }

    nav label.toggleMenu .fas {
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 40px;
    }

    header {
        height: 1250px;
    }

    .logo {
        width: 400px;
    }

    .menu li {
        display: block;
        float: none;
        background-color: hsla(0, 0%, 0%, 1);
        margin-top: 10px;
        font-size: 45px;
    }

    .hello {
        margin-top: 250px;
    }

    .menu {
        display: none;
        position: relative;
        top: 0;
    }

    input.toggleMenu:checked + label.toggleMenu {
        background: #000;
        color: #FFF;
    }

    input.toggleMenu:checked ~ ul {
        display: block;
    }

    .hello {
        font-size: 30px;
    }

    .welcome {
        font-size: 75px;
    }

    .buttonRegistr {
        font-size: 2em;
        border-radius: 2px;
        width: 300px;
        height: 100px;
        padding: 20px 0;
        margin: 0 auto;
        margin-top: 4em;
        margin-left: 3em;
    }

    .buttonLogin {
        font-size: 2em;
        border-radius: 2px;
        width: 300px;
        height: 100px;
        padding: 20px 0;
        margin: 0 auto;
        margin-top: 4em;
        margin-right: 3em;
    }

    #howItWorks {
        font-size: 5em;
    }

    #pHow {
        font-size: 2em;
    }

    .services {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .servicesItem {
        width: 600px;
        float: none;
    }

    .servicesItem h3 {
        font-size: 3em;
        margin-bottom: 5px;
    }

    .servicesItem p {
        font-size: 1.5em;
        color: #999;
    }

    .servicesItem:last-child {
        float: none;
    }

    .servicesItem:nth-child(2) {
        margin-left: 0em;
    }

    .serviceImage {
        width: 100px;
        height: 100px;
    }

    .readanywhere {
        height: 620px;
    }

    .readanytext span {
        font-size: 3.5em;
    }

    .readanytext {
        padding-left: 12em;
        padding-top: 2em;
    }

    .downloadios {
        width: 10em;
        height: 3em;
        margin-top: 1em;
    }

    .readanytext p {
        font-size: 1.1em;
    }

    .footerImage {
        width: 4em;
        height: 4em;
        padding-left: 1em;
        float: right;
    }

    .shortHeader {
        height: 150px;
    }

    .inputUpload {
        width: 50em;
        height: 2em;
        padding: 5px;
        margin-bottom: 10px;
    }

    #newBook {
        margin-top: 1em;
    }

    #upButton {
        font-size: 1.5em;
        width: 10em;
        height: 2.5em;
        padding: 10px 0;
    }

    .uploadBook span {
        font-size: 1.6em;
    }

    .uploadBook label {
        font-size: 1.6em;
    }

    .styles select {
        width: 12em;
        height: 2.5em;
        font-size: 1em;
        border-radius: 2px;
        width: 7em;
        padding: 6px 0;
        margin-top: 0.7em;
        margin-bottom: 1.5em;
   }

    #shortPageFooter {
        margin-top: 52.5em;
    }

    .book {
        font-size: 2.5em;
    }

    .search input {
        border-radius: 5px;
        width: 20em;
        height: 3em;
    }

    .verifiedProfile {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    #profileText {
        padding: 0;
        font-family: sans-serif;
        font-size: 2em;
        text-decoration: none;
        text-align: left;
        text-indent: 1.1em;
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    .nicknameProfile {
        margin-bottom: 10px;
        font-size: 4em;
    }

    .profileData {
        font-size: 2em;
    }

    .registr {
        width: 700px;
        height: 600px;
    }

    .formRegistr {
        width: 275;
        margin: -15px auto 20px auto;
        text-align: center;
    }

    .formRegistr p {
        font-size: 1.5em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .input {
        width: 520px;
    }

    .formRegistr h3,  .formLogin h3{
        font-size: 3em;
    }

    .close {
        margin: 10px 0 0 650px;
        width: 30px;
        height: 30px;
    }

    #shortPageFooterProfile {
        position: fixed; /* Фиксированное положение */
        left: 0; bottom: 0;
    }

    .login {
        width: 700px;
        height: 450px;
    }

    .formLogin {
        width: 275;
        /* margin:  auto 20px auto; */
        margin-left: 80px;
        text-align: center;
    }

    .loginButton {
        font-size: 1.5em;
        border-radius: 2px;
        width: 15em;
        margin-top: 40px;
        padding: 10px 0;
    }

    .verify {
        width: 500px;
        height: 400px;
    }

    .verify input {
        width: 80%;
    }

    .formVerify {
        margin-left: 80px;
    }

}
