<!DOCTYPE html>
<html lang="ru">
<head>
    <script type="text/javascript" href="JavaScript.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Книги</title>
</head>
<body>
    <div class="shortHeader">
        <div class="container">
            <div class="heading clearfix">
                <a href="#">
                    <img src="images/logo.png" class="logo" alt="LitNet">
                </a>
                <nav>
                <ul class="menu">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Загрузка</a></li>
                    <li><a href="#">Книги</a></li>
                    <li><a href="#">Вход</a></li>
                </ul>
                </nav>
            </div>
        </div>
    </div>
    <br>
    <div class="container clearfix">
        <div class="chooseStyle">
            <span>Выберите жанр:</span>
            <div class="styles">
                <select>
                    <option>Ужасы</option>
                    <option>Классика</option>
                </select>
            </div>
        </div>
        <div class="search">
            <form>
                <input type="text" placeholder="  Введите запрос">
                <button id="searchStart" href="#">Поиск</button>
            </form>
        </div>
    </div>
    <div class="container">
        <ul class="bookList">
            <li>
                <div class="book clearfix">
                    <a href="#">
                        <img src="images/authorKing.jpg" class="author">
                    </a>
                    <div class="aboutBook">
                        <span class="bookName"><a href="#">Мистер Мерседес</a></span>
                        <span class="authorName"><a href="#">Стивен Кинг</a></span>
                    </div>
                    <div class="formatAndCheck">
                        <span class="check">✓ Проверено</span>
                        <span class="format">Форматы: PDF</span>
                    </div>
                </div>
                <hr>
            </li>
            
            <li>
                <div class="book clearfix">
                    <a href="#">
                        <img src="images/authorKing.jpg" class="author">
                    </a>
                    <div class="aboutBook">
                        <span class="bookName"><a href="#">Мистер Мерседес</a></span>
                        <span class="authorName"><a href="#">Стивен Кинг</a></span>
                    </div>
                </div>
                <hr>
            </li>
            
            <li>
                <div class="book clearfix">
                    <a href="#">
                        <img src="images/authorKing.jpg" class="author">
                    </a>
                    <div class="aboutBook">
                        <span class="bookName"><a href="#">Мистер Мерседес</a></span>
                        <span class="authorName"><a href="#">Стивен Кинг</a></span>
                    </div>
                </div>
                <hr>
            </li>
            
            <li>
                <div class="book clearfix">
                    <a href="#">
                        <img src="images/authorKing.jpg" class="author">
                    </a>
                    <div class="aboutBook">
                        <span class="bookName"><a href="#">Мистер Мерседес</a></span>
                        <span class="authorName"><a href="#">Стивен Кинг</a></span>
                    </div>
                </div>
                <hr>
            </li>
            
        </ul>
    </div>
    <div class="container rights">
        © 2019 Все права защищены, LitNet
    </div>
</body>