<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
</head>
<body>
    <noscript>JavaScript is turned off.</noscript>
    <div class="container check">
        {% if  %}
        <img class="success" src="{% static 'image/success.png' %}" alt="">
        <h3>Успешная регистрация</h3>
        <p>Вы можете пройти к просмотру книг</p>
        <button href="/books" id="profileButton" class="loginButton">Перейти</button>
    </div>
    
    <div class="container rights">
        © 2019 Все права защищены, LitNet
    </div>
</body>
</html>